
@{
    ViewBag.Title = "Index";
}

<div class="Inicial ">
    <div class="container">
        <br>
        <h1 class="display-5">La Ferre</h1>
        <p class="lead">Nuestros nuevos productos!</p>
        <a href="" class="btn btn-dark btn-sm">Ver</a>
        <br>
        <br>
    </div>
</div>

<br>
<br>

<div class="opcionesc">
    <div>
        <h2 class="display-3">Categorias</h2>
        <br>
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-home fa-3x"></i>
                <h3>HOGAR</h3>
            </div>
            <div class="col-md-4">
                <i class="fa fa-bolt fa-3x"></i>
                <h3>HERRAMIENTAS</h3>
            </div>
            <div class="col-md-4">
                <i class="fa fa-truck-loading fa-3x"></i>
                <h3>MAQUINARIA</h3>
            </div>
        </div>
    </div>
</div>

<div class="opcionesc">
    <h2 class="display-3">Principales productos</h2>
</div>
<div class="containercards">

    <div style='background-color:  black; margin:5px ;' class='row row-cols-4 centrar'></div>
    <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-12">
                <img src="https://www.ferreteriaboston.com/wp-content/uploads/2014/01/productos-boston-580x600.jpg" class="img-fluid rounded-start" alt="">
            </div>
        </div>
    </div>

    <div style='background-color:  black; margin:5px ;' class='row row-cols-4 centrar'></div>
    <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-12">
                <img src="https://www.ferreteriaboston.com/wp-content/uploads/2014/01/productos-boston-580x600.jpg" class="img-fluid rounded-start" alt="">
            </div>
        </div>
    </div>

    <div style='background-color:  black; margin:5px ;' class='row row-cols-4 centrar'></div>
    <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-12">
                <img src="https://www.ferreteriaboston.com/wp-content/uploads/2014/01/productos-boston-580x600.jpg" class="img-fluid rounded-start" alt="">
            </div>
        </div>
    </div>

    <div style='background-color:  black; margin:5px ;' class='row row-cols-4 centrar'></div>
    <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-12">
                <img src="https://www.ferreteriaboston.com/wp-content/uploads/2014/01/productos-boston-580x600.jpg" class="img-fluid rounded-start" alt="">
            </div>
        </div>
    </div>

</div>

<div class="opcionesc">
    <h2 class="display-3">Opciones para mayoristas</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Covencional</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0+<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Entrega en 24-48 horas</li>
                    <li>Distintas opciones de envio</li>
                    <li>Soporte</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Pymes</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$1500+<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Todas los anteriores</li>
                    <li>Rebajas especiales</li>
                    <li>Envio premium 24 horas</li>
                    <li>Prioridad de soporte</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
            <div class="card-header py-3 text-white bg-dark border-dark">
                <h4 class="my-0 fw-normal">Corporativo</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$3500+<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Todas las anteriores</li>
                    <li>Maquinaria exclusiva</li>
                    <li>Prioridad de entrega</li>
                    <li>Beneficios de fidelidad</li>
                </ul>
            </div>
        </div>
    </div>
</div>
