
@{
    ViewBag.Title = "Sobrenos";
}
<hr>
<div class="opcionesc">
    <h1 class="display-3">Sobre nosotros</h1>
</div>
<hr>
<div>
    <h2 style="text-align: center; padding: 4px; color: black;">Quienes somos</h2>
    <p  style="text-align:right; padding-right: 50px; color:black;">
        Somos una ferreteria la cual decidio expandirse a la virtualidad. Te ofrecemos enviios a todo el pais y los mejores precios a nivel de mercadp.
    </p>
</div>
<hr>
<div>
    <h2 style="text-align: center; padding: 4px; color: black;">¿Porque elegirnos?</h2>
    <p  style="text-align: right; padding-right: 50px; color: black;">
        Fiabilidad, Compromiso y seguridad. Esto le brindamos a nuestros clientes con el poder de un solo click. Ya seas una compañia que requiera de la elite en maquinaria o simmplemente debas hacer un arreglo
        en tu hogar somos la mejor opcion.
    </p>
</div>

<hr>

<h2 class="titulos" style="text-align:center; padding:4px;">Nuestros valores</h2>
<button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-placement="top">
    Transparencia
</button>
<p style="color:black;">"Nuestros procesos son sencillos y transparentes con nuestros clientes"</p>

<button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-placement="right">
    Integridad
</button>
<p style="color:black;">"Somos intengros en precios y envios. Sin cargos extra que aparecen misteriosamente en tu factura siempre brindamos honestidad en nuestro trabajo."</p>

<button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-placement="left">
    Compromiso
</button>
<p style="color:black;">"Estamos comprometidos a no solo brindar los mejores precios y servicios sino a que cada ubo de nuestros clientes tenga una satisfaccion total en cada compra."</p>
<hr>